/* Seção Bolos de Casamento */

.sec-bolos-casamento{
    background-color: #F8F8F8;
    min-height: 779px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.titulo-geral-sec-bolos-cas{
    color: #3B1F2B;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.conteiner-bolos-casamento{
    width: 100%;
    max-width: 1282px;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 191px;
}

.card-bolos-casamento{
    height: 400px;
    width: 300px;
    margin-bottom: 15px;  
}

.descricao-card-bolo-cas{
    color: #5B3C4F;
    font-family: "Poppins" Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* Seção bolos temáticos */

.sec-bolos-tematicos{
    background-color: #FFFBF7;
    min-height: 779px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.titulo-geral-sec-bolos-tem{
    color: #3B1F2B;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.conteiner-bolos-tematicos{
    width: 100%;
    max-width: 1282px;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 191px;
}

.card-bolos-tematicos{
    height: 400px;
    width: 300px;
    margin-bottom: 15px;  
}

.descricao-card-bolo-tem{
    color: #5B3C4F;
    font-family: "Poppins" Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* Seção ovos de páscoa */

.sec-ovos-pascoa{
    background-color: #F8F8F8;
    min-height: 779px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}

.titulo-geral-ovos-pascoa{
    color: #3B1F2B;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
}

.conteiner-ovos-pascoa{
    width: 100%;
    max-width: 1282px;
    min-height: 400px;
    display: flex;
    justify-content: space-between;
    gap: 191px;
}

.card-ovos-pascoa{
    height: 400px;
    width: 300px;
    margin-bottom: 15px;  
}

.descricao-card-ovos-pascoa{
    color: #5B3C4F;
    font-family: "Poppins" Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}



